

	<div class="about">
		<hr>
		<div class="heads"><h4 class="pop">About Me</h4> </div>
		<hr>

		<br>
		<br>
		<div class="circular"></div>
		<p>
		<br>

		<div class="me">
		<h2> Hello! My name is Weyman and...</h2>
		
		I graduated from UC Davis with a Pharmaceutical Chemistry degree in 2013. While I was an undergraduate, I started programming in C and Python and found out that I love writing code and solving logic problems. I recently finished a program in full stack web development and am available for hire. Since then I am now mostly working with Ruby and Javascript. 
		</div>
		<br>
		<br>
	
	</div>


		<div class="my-skills">
		<hr>
		<div class="heads"><h4 class="pop">Skills</h4> </div>
		<hr>
		 <br><br>
		<div class="language"> Ruby, Rails, C, JavaScript, Backbone, SQL, CSS, HTML, and a little bit of Python </div> 

		<div class="skill-pics">
		<div id="columns">
  <figure>
  	<%= image_tag("skills/ruby.png") %>
	<figcaption>Ruby</figcaption>
   
	</figure>
	
	<figure>
	<%= image_tag("skills/rails.png") %>
	<figcaption>Rails</figcaption>
 
	</figure>
	
  <figure>
	<%= image_tag("skills/javascript.png") %>
	<figcaption>Javascript</figcaption>

	</figure>
  
	<figure>
	<%= image_tag("skills/backbone.png") %>
	<figcaption>Backbone</figcaption>
  
	</figure>
	
   <figure>
	 <%= image_tag("skills/git.png") %>
	<figcaption>Git</figcaption>

	</figure>
	
   <figure>
	 <%= image_tag("skills/html.png") %>
	<figcaption>HTML</figcaption>

	</figure>
  
	<figure>
	<%= image_tag("skills/sql.png") %>
	<figcaption>SQL</figcaption>
 
	</figure>	

</div>
</div>
</div>




	


	<div class="projects">
	<hr>
		<div class="heads"><h4 class="pop"> Cool Projects </h4></div>
	<hr>
	

	<br>
	<div class="container-fluid">
  		<div class="row-fluid">


  			<div class="pro-text">
  				<h3> Roly Polly <small><a href="http://github.com/weymanf/roly_polly">source</a> </small> </h3>

		<div class="tilt">
		<a href="http://roly-polly.herokuapp.com"><%= image_tag("roly_polly.png") %></a>
		</div>


  				<p class="text-center">Roly Polly is a fun polling app. It's contains backbone pages consuming RESTful Rails API.
				Some features include: </p>
				<ul>
					<li>Texting to vote function via Twilio
					<li>Live updates via Pusher
					<li>Spinning Elements
				</ul>

				<p>

				You can check out the source with the link provided.
				Or the app itself by clicking on the picture.	</p>
			</div>






		<div class="pro-text">
  				<h3> Asteroids <small> <a href="http://github.com/weymanf/asteroid-js">source</a> </small></h3>

		<div class="tilt">
			<a href="http://www.weymanfung.com/asteroids"><%= image_tag("asteroids.png") %></a>
		</div>


  				<p class="text-center">Roly Polly is a fun polling app. It's cThe classic game Asteroids made in Javascript. Object oriented Javascript with prototypal inheritance and module pattern. Calculates directions, velocities, and collisions of all objects using algebraic coordinate systems.
				<br>
			
				<br>
		
				Check out the code. Or play it right here using the game portal at the top page or click on the picture.	</p>
			</div>


			<div class="pro-text">
  				<h3> Wello<small> <a href="http://github.com/weymanf/wello-trello-clone">source</a> </small> </h3>

		<div class="tilt">
	<a href="http://wello.herokuapp.com"><%= image_tag("wello.jpg") %></a>

		</div>


  				<p class="text-center">The clone of <a href="http://www.trello.com">Trello</a>.
				<br>
				A Backbone on Rails App where users can create boards with multiple lists that contain cards. It has completely nested views!
				<br><br>
				Heavy uses of Jquery and JqueryUi for draggable features. <br><br>
				
				Check out the code. Or try it out by clicking the picture.	</p>
			</div>


			<div class="pro-text">
  				<h3> Snake <small> <a href="http://github.com/weymanf/snake_js">source</a></small></h3>

		<div class="tilt">
			<a href="http://www.weymanfung.com/snake"><%= image_tag("snake.png") %></a>
		</div>


  				<p class="text-center">Another classic game, Snake. The code was written all in Javascript.
				Object oriented with module patterns. Calculates collision and extends snake through coordinate math. Visualization was done using CSS elements.<br><br>

				Check out the code. Or play it right here using the game portal at the top page or click on the picture.
			</p>
			</div>   

			<div class="pro-text">
  				<h3> Checkers <small> <a href="http://github.com/weymanf/checkers_ruby">source</a> </small></h3>

		<div class="tilt">
		<%= image_tag("checkers.png") %>
		</div>


  				<p class="text-center">The game of checkers made in Ruby code. Just a demonstration of object oriented design in Checkers.Checks valid moves by graphing move sequences in a graph.


				Check out the code. Unfortunately, this is not playable but hopefully there will be more games to come.	</p>
			</div>

   
 		</div> 		
	</div>


	<br><br><br><br>
	<p>Additional projects can be seen on my github (link at top). Or just click <a href="http://github.com/weymanf">here</a>. Many more projects coming soon.</p>

	<br><br>
	
	</div>


	<div>

		


	</div>




<script>
  window.onunload = function(){};
	window.removeEventListener("keydown", arrow_keys_handler, false);

  


</script>