

	<div class="about">
		<hr>
		<h4>About Me</h4>
		<hr>
		<p>
		<h2> Hello. </h2>
		I recently graduated from the UC Davis with a chemistry degree in spring of 2013. Since then, I have forsaken my degree to pursue a career in computer science. I recently attended App Academy which moved me further on my path to becoming a web developer. I know a couple of languages and technologies now including: <br><br>
		<span class="language">Ruby, Rails, SQL, Javascript, Backbone, CSS, HTML, C (a bit rusty), Python ( a little bit), and more </span> 
		<br>
		<br>
		Enough boring stuff. Here are the fun facts:
			<ul>
				<li> Family owns a restaraunt
				<li> Worked at said restaurant since 16
				<li> Easy to work with
				<li> Makes awesome one liners, loves awesome one liners
				<li> Diamond in League of Legends
				<li> I watch anime
				<li> Plays WoW, Hearthstone, Starcraft, Diablo 3, BF4 and more
				<li> Plays basketball. Yea I'm not a total shut-in  
			</ul>
		<p>
	</div>

	<br>
	<br>
	<div class="row pro">
		<hr>
		<h4> Cool Projects </h4>
		<hr>
		<div class="col-xs-5 projects">
		<h4>Roly Polly <small> <a href="http://github.com/weymanf/roly_polly">source</a> </small> </h4>
		<a href="http://roly-polly.herokuapp.com"><%= image_tag("roly_polly.png") %></a>
	</div>
		<div class="col-xs-5 projects ast">
		<h4>Asteroids <small> <a href="http://github.com/weymanf/asteroid-js">source</a> </small> </h4> 
		<a href="http://www.weymanfung.com/asteroids"><%= image_tag("asteroids.png") %></a>
		</div>
		<div class="col-xs-5 projects">
		<h4>Checkers <small> <a href="http://github.com/weymanf/checkers_ruby">source</a> </small></h4>
		<%= image_tag("checkers.png") %>
		</div>
		<div class="col-xs-5 projects ast">
		<h4>Snake <small> <a href="http://github.com/weymanf/snake_js">source</a></small> </h4>
		<a href="http://www.weymanfung.com/snake"><%= image_tag("snake.png") %></a>
		</div>
	</div>


	<br><br>
	<hr>
	<h4> Resume </h4>
	<hr>
	<div class="resume">
		Well just check it out <%= link_to "here", "fung_resume.pdf" %>

	</div>


