

	<div class="about">
		<hr>
		<h4>About Me</h4>
		<hr>
		<p>
		<h2> Hello. </h2>
		I graduated from UC Davis with a Pharmaceutical Chemistry degree in 2013. While I was an undergraduate, I started programming in C and Python and found out that I love writing code and solving logic problems. I recently finished a program in full stack web development and am available for hire. As of now, I have worked with these languages and technologies:


		 <br><br>
		<span class="language">Ruby, Rails, SQL, JavaScript, Backbone, CSS, HTML</span> 
		<br>
		<br>
		Here are some fun facts about me:
			<ul>
				<li>My family owns a restaurant.  </li>
				<li>Love video games and basketball.  </li>
				<li>I make awesome one liners. Check it out: 
					<ul class="oneline">
						<li>>def subsets(ar)</li>
  						<li>>       (1..ar.length).to_a.flat_map { |x| ar.combination(x).to_a }</li>
						<li>>end</li>
					</ul>
				</li>
  					
			</ul>
		<p>
	</div>

	<br>
	<br>
	<div class="row pro">
		<hr>
		<h4> Cool Projects </h4>
		<hr>
		<div class="col-xs-5 projects">
		<h4>Roly Polly <small> <a href="http://github.com/weymanf/roly_polly">source</a> </small> </h4>
		<div class="tilt">
		<a href="http://roly-polly.herokuapp.com"><%= image_tag("roly_polly.png") %></a>
		</div>
	</div>
		<div class="col-xs-5 projects ast">
		<h4>Asteroids <small> <a href="http://github.com/weymanf/asteroid-js">source</a> </small> </h4>
		<div class="tilt"> 
		<a href="http://www.weymanfung.com/asteroids"><%= image_tag("asteroids.png") %></a>
	</div>
		</div>
		<div class="col-xs-5 projects">
		<h4>Checkers <small> <a href="http://github.com/weymanf/checkers_ruby">source</a> </small></h4>
		<div class="tilt">
		<%= image_tag("checkers.png") %>
	</div>
		</div>
		<div class="col-xs-5 projects ast">
		<h4>Snake <small> <a href="http://github.com/weymanf/snake_js">source</a></small> </h4>
		<div class="tilt">
		<a href="http://www.weymanfung.com/snake"><%= image_tag("snake.png") %></a>
	</div>
		</div>
	</div>


	<br><br>
	<hr>
	<h4> Resume </h4>
	<hr>
	<div class="resume">
		Well just check it out <%= link_to "here", "fung_resume.pdf" %>

	</div>




<script>
</script>