

	<div class="about">
		<hr>
		<div class="heads"><h4>About Me</h4> </div>
		<hr>
		<p>
		<h2> Hello. </h2>
		I graduated from UC Davis with a Pharmaceutical Chemistry degree in 2013. While I was an undergraduate, I started programming in C and Python and found out that I love writing code and solving logic problems. I recently finished a program in full stack web development and am available for hire. Since then I am now mostly working with Ruby and Javascript. 

		<br>
		<br>
	
		Here are some fun facts about me:
			<ul>
				<li>My family owns a restaurant.  </li>
				<li>Love video games and basketball.  </li>
				<li>I make awesome one liners. Check it out: 
					<ul class="oneline">
						<li>>def subsets(ar)</li>
  						<li>>       (1..ar.length).to_a.flat_map { |x| ar.combination(x).to_a }</li>
						<li>>end</li>
					</ul>
				</li>
  					
			</ul>
		<p>
	</div>

	<br>
	<br>

		<hr>
		<div class="heads"><h4>Skills <h4></div>
		<hr>
		 <br><br>
		<div class="language"> Ruby, Rails, C, JavaScript, Backbone, SQL, CSS, HTML, and a little bit of Python </div> 

		<div id="columns">
  <figure>
  	<%= image_tag("skills/ruby.png") %>
	<figcaption>Ruby</figcaption>
   
	</figure>
	
	<figure>
	<%= image_tag("skills/rails.png") %>
	<figcaption>Rails</figcaption>
 
	</figure>
	
  <figure>
	<%= image_tag("skills/javascript.png") %>
	<figcaption>Javascript</figcaption>

	</figure>
  
	<figure>
	<%= image_tag("skills/backbone.png") %>
	<figcaption>Backbone</figcaption>
  
	</figure>
	
   <figure>
	 <%= image_tag("skills/git.png") %>
	<figcaption>Git</figcaption>

	</figure>
	
   <figure>
	 <%= image_tag("skills/html.png") %>
	<figcaption>HTML</figcaption>

	</figure>
  
	<figure>
	<%= image_tag("skills/sql.png") %>
	<figcaption>SQL</figcaption>
 
	</figure>	

</div>







		<br>
		<br>



	<hr>
		<div class="heads"><h4> Cool Projects </h4></div>
	<hr>
	<div class="pros">
		<div class="row">
			<h2>Roly Polly <small> <a href="http://github.com/weymanf/roly_polly">source</a> </small> </h2>
			<div class="col-xs-5">
			<div class="tilt">
		<a href="http://roly-polly.herokuapp.com"><%= image_tag("roly_polly.png") %></a>
		</div>
			</div>

			<div class="col-xs-5 col-xs-offset-1 des">
				Roly Polly is a fun polling app. It's contains backbone pages consuming RESTful Rails API.
				Some features include: 
				<ul>
					<li>Texting to vote function via Twilio
					<li>Live updates via Pusher
					<li>Spinning Elements
				</ul>

				You can check out the source with the link provided.
				Or the app itself by clicking on the picture.	
			</div>
		</div>




			<div class="row">
			<h2>Asteroids <small> <a href="http://github.com/weymanf/asteroid-js">source</a> </small> </h2>
			<div class="col-xs-5">
			<div class="tilt">
		<a href="http://www.weymanfung.com/asteroids"><%= image_tag("asteroids.png") %></a>
		</div>
			</div>

			<div class="col-xs-5 col-xs-offset-1 des">
				The classic game Asteroids made in Javascript. Object oriented Javascript with prototypal inheritance and module pattern. Calculates directions, velocities, and collisions of all objects using algebraic coordinate systems.
				<br>
				<br>
				Visualization was all done using canvas, and setInterval for redrawing.
				<br>
				<br>
				Check out the code. Or play it right here using the game portal at the top page or click on the picture.
			</div>
		</div>



		<div class="row">
			<h2>Snake <small> <a href="http://github.com/weymanf/snake_js">source</a></small> </h2>
			<div class="col-xs-5">
			<div class="tilt">
		<a href="http://www.weymanfung.com/snake"><%= image_tag("snake.png") %></a>
		</div>
			</div>

			<div class="col-xs-5 col-xs-offset-1 des">
				Another classic game, Snake. The code was written all in Javascript.
				Object oriented with module patterns. Calculates collision and extends snake through coordinate math. Visualization was done using CSS elements.<br><br>

				Check out the code. Or play it right here using the game portal at the top page or click on the picture.
			</div>
		</div>




		<div class="row">
			<h2>Checkers <small> <a href="http://github.com/weymanf/checkers_ruby">source</a> </small></h2>
			<div class="col-xs-5">
			<div class="tilt">
		<%= image_tag("checkers.png") %>
		</div>
			</div>

			<div class="col-xs-5 col-xs-offset-1 des">
				The game of checkers made in Ruby code. Just a demonstration of object oriented design in Checkers. Features a BFS structure in validating multiple jumps. 

				Check out the code. Unfortunately, this is not playable but hopefully there will be more games to come.
			</div>
		</div>

	</div>
	<br><br><br><br>
	Additional projects can be seen on my github (link at top). Or just click <a href="http://github.com/weymanf">here</a>. Many more projects coming soon.

	<br><br>
	<hr>
	<div class="heads"><h4> Resume </h4> </div>
	<hr>
	<div class="resume">
		Well just check it out <%= link_to "here", "fung_resume.pdf" %>

	</div>




<script>
</script>