<!DOCTYPE html>
<html>
<head>
  <title>Weyman Fung</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div class="jumbotron">
		<div class="logo">
		<%= link_to image_tag("weyman_logo.png"), home_url %> <span class="top"> Web Developer </span>
		</div>
		<a href="http://github.com/weymanf"> Github </a>
		<a href="http://www.linkedin.com/pub/weyman-fung/75/173/626">Linkedin</a>
		<%= link_to "Asteroids", asteroids_url %>
	</div>


<%= yield %>
	</div>

</body>
</html>
