<!DOCTYPE html>
<html>
<head>
  <title>Weyman Fung</title>
  <link rel="shortcut icon" href="/assets/title.ico"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
	<a name="top"></a>
<body>
	
	<div class="jumbotron">
		<div class="logo">
		<%= link_to image_tag("weyman_logo.png"), home_url %> <span class="top"> Web Developer </span>
		</div>
		<a href="http://github.com/weymanf"><%= image_tag("github.png") %></a>
		<a href="http://www.linkedin.com/pub/weyman-fung/75/173/626"><%= image_tag("linked.png") %></a>
		<%= link_to image_tag("resume.png"), "fung_resume.pdf" %>
		<div class="btn-group games">
  			<a class="btn dropdown-toggle games" data-toggle="dropdown">
    		Game Portal
    		<span class="caret"></span>
 			</a>
  		<ul class="dropdown-menu">
    		<li><%= link_to "Asteroids", asteroids_url %>
			<li><%= link_to "Snake", snake_url %>
  		</ul>
		</div>
		
	</div>


<%= yield %>

	
	<div class="bottom">
		<h3>  Contact Me  </h3>
		<p> Phone: 510-213-9103 </p>
		<p> Email: wfung@ucdavis.edu</p>
		<a href="#top">Back to Top</a>
	</div>

</body>
</html>
